<a id="feed" href="/feed"
  ><img
    class="header__logo-feed"
    src="./images/icon-white.svg"
    alt="logo de Groupomania"
/></a>
<div class="header__container">
  <a id="profile" href="/profile"
    ><div class="header__btn">
      <p>Profil</p>
    </div></a
  >
</div>
