<title><%= page %> - GroupoGIF</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" href="./images/favicon.ico" />
<link rel="stylesheet" href="./css/prefixed/main.css" />
