<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include partials/head %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
    <script async src="./js/feed.js"></script>
  </head>
  <body>
    <header class="header-feed">
      <% include partials/header2 %>
    </header>
    <main>
      <a href="/publish">
        <div class="post-btn"><h1>Publier un GIF</h1></div>
      </a>
    </main>
    <footer>
      <a href="/">
        <p class="home__link">Accueil</p>
      </a>
      <a href="/profile">
        <p class="profile__link">Profil</p>
      </a>
    </footer>
  </body>
</html>
