<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include partials/head %>
    <script async src="./js/feed.js"></script>
  </head>
  <body>
    <header class="header-feed">
        <% include partials/header2 %>
    </header>
    <main>
         <a href="/publish">
          <button class="post-btn"><h1>Publier un GIF</h1></button>
        </a> 
    </main>
      <footer>
        <a href="/">
          <p class="home__link">Accueil</p>
        </a>
        <a href="/profile">
          <p class="profile__link">Profil</p>
        </a>
      </footer>
</html>
