<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header1 %>
    </header>
    <main class="main-container">
      <a href="/login">
        <div class="main__btn main__btn-login">
          <h1>Se connecter</h1>
        </div></a
      >
      <a href="/signup"
        ><div class="main__btn main__btn-signup">
          <h2>
            S'inscrire
          </h2>
        </div></a
      >
    </main>
    <footer>
      <a href="/">
        <p class="home__link">Accueil</p>
      </a>
      <a href="/profile">
        <p class="profile__link">Profil</p>
      </a>
    </footer>
  </body>
</html>
