<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header1 %>
    </header>
    <main class="main-container">
      <a href="/login">
        <button class="main__btn main__btn-login">Se connecter</button></a
      >
      <a href="/signup"
        ><button class="main__btn main__btn-signup">S'inscrire</button></a
      >
    </main>
  </body>
  <footer>
    <a href="/">
      <p class="home__link">Accueil</p>
    </a>
    <a href="/profile">
      <p class="profile__link">Profil</p>
    </a>
  </footer>
</html>
