<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= page %> - GroupoGIF</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="./../css/main.css" />
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="header-feed">
      <a id="feed" href="/feed"
  ><img
    class="header__logo-feed"
    src="./../images/icon-white.svg"
    alt="logo de Groupomania"
/></a>
<div class="header__container">
  <a id="profile" href="/profile"
    ><button class="header__btn">Profil</button></a
  >
</div>
      </header>
      <main>
        <section class="post">
        </section>
        <section class="post__comments">
            <p class="post__comments-number"></p> 
            <div class="post__publish-comment">
              <input class="post__input-comment" type="text" placeholder="Ecrire un commentaire..." />
              <button class="post__publish-btn">Commenter</button>
            </div>
        </section>
      </main>
      <footer>
        <a href="/">
          <p class="home__link">Accueil</p>
        </a>
        <a href="/profile">
          <p class="profile__link">Profil</p>
        </a>
      </footer>
      <script async src="./../js/post.js"></script>
</html>
