<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header1 %>
    </header>
    <main class="profile__container">
        <h1>Mon profil</h1>
        <form id="form" class="form profile__form">
          <div class="form-control">
            <label for="first__name">Prénom</label>
            <input type="text" id="first__name" class="input-data" />
          </div>
          <div class="form-control">
            <label for="last__name">Nom</label>
            <input type="text" id="last__name" class="input-data" />
          </div>
          <div class="form-control">
            <label for="department">Département</label>
            <select id="department">
              <option value="ressources humaines">Ressources Humaines</option>
              <option value="marketing">Marketing</option>
              <option value="comptabilité">Comptabilité</option>
              <option value="logistique">Logistique</option>
              <option value="ventes">Ventes</option>
            </select>
          </div>
          <div class="form-control">
            <label for="email">Email</label>
            <input type="text" id="email" class="input-data" />
          </div>
          <div class="form-control">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" />
          </div>
          <button class="form__btn modifyprofile-btn">
            Modifier
          </button>
        </form>
        <button class="form__btn logout-btn">Se déconnecter</button>
        <button class="form__btn erase-btn">Supprimer le compte</button>
      </main>
      <footer>
        <a href="/"> <p>Accueil</p></a>
      </footer>
</html>
